.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.thead {
    background-color: #333;
    color: white;
}

.th,
.td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.evenRow {
    background-color: #f3f3f3;
}

.oddRow {
    background-color: white;
}

.hoverRow:hover {
    background-color: #ddd;
}

.td {
    color: #333;
}

.th {
    font-weight: bold;
}
